<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit page</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="emp_id">Employee Id</label>
        <input type="text" name="emp_id" id="" placeholder="Employee Id:" value="{{employee_info.emp_id}}">
        <label for="full_name">Full Name: </label>
        <input type="text" name="full_name" id="" placeholder="Full Name:" value="{{employee_info.emp_name}}">
        <label for="email">Email: </label>
        <input type="email" name="email" id="" placeholder="Email:" value="{{employee_info.emp_email}}">
        <input type="submit" value="Submit">
    </form>

</body>
</html>