<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="id">Id</label>
        <input type="number" name="id" id="" placeholder="Id" value="{{user_info.e_id}}">
        <label for="name">Name</label>
        <input type="text" name="name" id="" placeholder="name" value="{{user_info.e_name}}">
        <label for="email">Email</label>
        <input type="email" name="email" id="" placeholder="email" value="{{user_info.e_email}}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>